
* {
    font-family: 'DIN Alternate', 'Roboto', sans-serif;
}

p {
    color: #f6f0e7;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 25%;
}

a {
    color: #06D6A0;
}

.home-container {
    display: flex;
}

.home-container-left {
    text-align: center;
    width: 15%;
}

.home-container-right {
    width: 15%;
}

.goal-form-field input{
    width: 95%;
    height: 26px;
    font-size: 20px;
    margin: 10px 20px;
}

.record-form input {
    width: 50%;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

::placeholder {
    font-size: 18px;
    color: #a7a7a7;
}

.logo {
    text-decoration: none;
    color: #06D6A0;
    font-size: 60px;
    font-weight: 700px;
    margin-left: 10px;
}

.logo:hover {
    text-decoration: none;
}

body {
    margin: 0 auto;
    background-color: #073B4C;
    margin: 0, auto;
}
.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

h1 {
    margin-left: 2%;
}

.login-logout {
    margin-right: 5%;
}

.login-logout a {
    color: #D81159;
    font-size: 20px;
}

.new-goal-link {
    color: #D81159;
    font-size: 30px;
    font-weight: 500px;
}

.goals-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 70%;
    justify-content: space-evenly;
    margin: 0 auto;
}

.goals-container p {
    text-align: center;
    margin: 0 30px;
    padding-bottom: 30px;
    font-size: 34px;
}

.record-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 70%;
    background-color: #f6f0e7;
    border-radius: 10px;
}

.record-container th {
    text-align: center;
    margin: 0;
    font-size: 22px;
    color: #006494;
    padding-bottom: 10px;
    border-bottom: 1px solid #073B4C;
}

.record-container td {
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #073B4C;
    padding-bottom: 15px;
    padding-top: 15px;
}

.goal-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    height: 400px;
    background-color: #006494;
    color: #f6f0e7;
    margin: 2% 2%;
    border-radius: 10px;
    box-shadow: -5px 8px 10px 0px rgba(0,0,0,0.7);
}

.record-card {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.record-table {
}

.goal-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    background-color: #006494;
    width: 60%;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.goal-form-container p {
    font-size: 24px;
    color: #f6f0e7;
    margin: 30px 0;
}

.goal-form-field {
    margin: 50px auto;
    font-size: 24px;
    height: 30px;
    color: #f6f0e7;
}

.goal-form-field label {
    margin: 0;
}

.goal-button {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.first-create-goal {
    text-align: center;
    margin-top: 50px;
}

#create-goal-button {
    color: #073B4C;
    background-color: #FFD166;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.6);
}

.goal-card:nth-child(2n+2) {
    background-color: #FFD166;
}

.goal-card:nth-child(2n+2) a {
    background-color: #FFD166;
    color: #D81159;
}

.goal-card:nth-child(2n+2) p {
    color: #006494;
}

.goal-card-main-body {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.goal-card-title {
    font-size: 36px;
    font-weight: 600;
    margin: 7% auto;
}

.record-form {
    height: 50px;
    font-size: 34px;
    text-align: center;
    color: #073B4C;
    border-radius: 5px;
    margin-bottom: 30px;
}

.record-submit-button {
    color: #073B4C;
    background-color: #f6f0e7;
    font-size: 24px;
    border-radius: 5px;
    margin: 7% 30%;
    box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.6);
}

.edit-record-button {
    color: #006494;
    background-color: #f6f0e7;
    border-radius: 5px;
    text-decoration: underline;
}

.edit-record-button:hover {
    color: #D81159;
}

.record-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    text-align: right;
    padding-right: 5%;
}

.record-links p {
    text-align: right;
    padding-bottom: 25px;
    margin: 0;
    font-size: 20px;
}

.record-links a {
    text-align: right;
    padding-bottom: 25px;
    margin: 0;
    font-size: 20px;
}

#id_username {
    width: 50%;
    height: 26px;
    font-size: 20px;
    margin-bottom: 30px;
}

#id_password {
    width: 50%;
    height: 26px;
    font-size: 20px;
    margin-bottom: 30px;
}

input[type="submit"] {
    color: #073B4C;
    background-color: #f6f0e7;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 50%;
    box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.6);
}

input[type="submit"]:hover {
    cursor: pointer;
}

.edit-record-button {
    cursor: pointer;
}

.hidden-record-form {
    display: none;
}

.hidden-cell button {
    font-size: 16px;
}