{% extends "base.html" %}

{% block content %}

<div class='goal-form-container'>

    <form action='' method='POST'>
        {% csrf_token %}

    <p class='goal-form-intro'>What goal will you be achieving? Follow the examples to fill in the blanks below.</p>

    <div class='goal-form-field'>
        <label for="name">What are you going to accomplish every day?</label>
        <br>
        {{ form.name }}
    </div>
    
    <div class='goal-form-field'>
        <label for="greater_than">More Than?</label>
        {{ form.greater_than }}
    </div>

    <div class='goal-form-field'>
        <label for="number">How Many?</label>
        <br>
        {{ form.number }}
    </div>

    <div class='goal-form-field'>
        <label for="nickname">Nickname</label>
        <br>
        {{ form.nickname }}
    </div>

    <div class='goal-button'>
        <button type='submit' id='create-goal-button'>Create Goal</button>
    </div>

    </form>

</div>

{% endblock %}
