{% extends "base.html" %}

{% block content %}

{% if goals.count %}

    <div class='home-container'>

        <div class='home-container-left'>
            <a href="{% url 'create_new_goal' %}" class='new-goal-link'>+ New Goal +</a>
        </div>

        <div class='goals-container'>
            <p class='goal-explanation'>Every time you come one step closer to achieving your goal,<br> input your success below</p>

            {% for goal in goals %}

            <div class='goal-card'>
                <div class='goal-card-main-body'>
                    <p class='goal-card-title'>{{ goal.nickname }}</p>
                    <form class='record-form' action='' method='POST' data-goal-pk='{{ goal.pk }}'>
                        {% csrf_token %}
                        {{ form.actual_number }}
                        {{ form.date }}
                        <button type="submit" class="record-submit-button">Submit</button>
                    </form>
                </div>
                <div class='record-links'>
                    <p>create a past entry --></p>
                    <p>edit an entry --></p>
                    <a href="{% url 'records' %}">see your progress --></a>
                </div>
            </div>

            {% endfor %}

        </div>

        <div class='home-container-right'>
            <p> </p>
        </div>

    </div>

{% else %}

    <div class='first-create-goal'>
        <a href="{% url 'create_new_goal' %}" class='new-goal-link'>+ New Goal +</a>
    </div>

{% endif %}

{% endblock %}
