{% extends "base.html" %}

{% block content %}
        
    <div class='record-container'>


    <table class='record-table'>
            <tr>
                <th>Goal</th>
                <th>Date</th>
                <th>Daily #</th>
                <th>Target #</th>
                <th>Edit</th>
            </tr>
    {% for record in records %}
            <tr class='record-row'>
              <td>{{ record.goal.nickname }}</td>
              <td>{{ record.date }}</td>
              <td class='hidden-cell'>
                <div class='hidden-actual-number'>{{ record.actual_number }}</div>
                <form class='hidden-record-form' data-record-pk='{{ record.pk }}'>
                    {{ form.actual_number }}
                    <button type="submit" class="record-submit-button">Submit</button>
                </form>
              </td>
              <td>{{ record.goal_number }}</td>
              <td class='edit-record-button'>Edit</td>
            </tr>

    {% endfor %}

    </table>

    </div>


            <!-- <div class='record-card'>
                
                <div class='record-card-main-body'>
                    
                    <p class='record-card-title'>{{ record.goal.nickname }}</p>
                    <p class='record-card-date'>{{ record.datetime }}</p>

                    <form class='edit-record-form' action='' method='PUT' data-record-pk='{{ record.pk }}'>
                        {% csrf_token %}
                        {{ form.actual_number }}
                        <button type="submit" class="record-edit-button">Edit</button>
                    </form>

                    <p class='record-actual-number'>Your achievement: {{ record.actual_number }}</p>
                    <p class='record-goal-number'>Your goal: {{ record.goal_number }}</p>
                    <button type='submit' class='edit-record-button'>Edit</button>
                
                </div>
            
            </div> -->

{% endblock %}
